<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>353070564276-8s5edb443cad25j29rgfc35b9c15p47d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353070564276-8s5edb443cad25j29rgfc35b9c15p47d</string>
	<key>API_KEY</key>
	<string>AIzaSyDqPLhTr1Vdhl3O-KLfM_bnBYcSIYsJ5aA</string>
	<key>GCM_SENDER_ID</key>
	<string>353070564276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.korotkov.example.Gameofchats</string>
	<key>PROJECT_ID</key>
	<string>chatsgame-aae70</string>
	<key>STORAGE_BUCKET</key>
	<string>chatsgame-aae70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353070564276:ios:2fd773f1430a193b</string>
	<key>DATABASE_URL</key>
	<string>https://chatsgame-aae70.firebaseio.com</string>
</dict>
</plist>